# NASA Mission Explorer - Environment Configuration

# Server Port
PORT=5000

# Optional Official NASA API Key (Defaults to NASA DEMO_KEY if blank)
NASA_API_KEY=g26iSkS2RNpYxshvrOZTJaZwZCuEJdHCTc1oS5j4

# Optional Gemini LLM API Key (For dynamic grounded AI Chat responses)
GEMINI_API_KEY=AQ.Ab8RN6Kpn3DWXbAB7RxwvKS2uUYccVmPox5vRFOroVS8hcR57A
